[mysqld]

binlog_transaction_dependency_tracking = WRITESET
enforce_gtid_consistency               = ON
gtid_mode                              = ON
local_infile                           = ON
sql_require_primary_key                = OFF
